*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}
html{
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #0b000c;
    --text-color: white;
    --main-color: #ff00fb;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 12%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: .3s ease;
}
.logo span{
    color: var(--main-color);
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: .3s ease;
}
.navbar a:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

section{
    min height : 100vh
    padding: 10rem 12%;
}/
.home{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 15rem;
}
.home-content {
    display:  flex;
    flex-direction :column
    align


}












.home-content p{
     font-size: 1.5rem;
     font


}








.sosial-icons a{
    display:  inline-flex;
    justify-content: center ;
    align-items: center;
    font-size:4rem;
    padding: 1rem;
    background :
}
}








































.btn-group a:nth-of-type(2):hover{
    box-shadow:0 0 25px
}





